/*  Home  page color*/
#home {
  background-color: #f5f5f5;
}


#home .hero-section {
  background: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836")
    center/cover no-repeat;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
}

#home .hero-section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

#home .hero-content {
  position: relative;
  z-index: 2;
}

#home .hero-content h2 {
  font-weight: 600;
}

#home .hero-content p {
  font-size: 12px;
  letter-spacing: 2px;
}

/* search */
#home .search-box {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

#home .search-box input {
  padding: 8px 12px;
  border-radius: 20px 0 0 20px;
  border: none;
  width: 250px;
}

#home .search-box button {
  padding: 8px 15px;
  border: none;
  background: orange;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

/*  categories */

#home .categories-section {
  padding: 40px 0;
}

#home .section-title {
  letter-spacing: 2px;
  margin-bottom: 20px;
}

/* card */
#home .category-card {
  position: relative;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

#home .category-card:hover {
  transform: translateY(-5px);
}

/* red badge */
#home .badge-text {
  position: absolute;
  top: 15px;
  left: 15px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 5px;
}