/* main container */
.meal-details-container {
  padding: 40px 0;
  background-color: #f5f5f5;
}

/* title */
.meal-details-container h2 {
  font-weight: bold;
}

/* image styling */
.meal-details-container img {
  border-radius: 8px;
}


.meal-details-container p {
  font-size: 14px;
  line-height: 1.6;
}

/* ingredients list */
.meal-details-container ul {
  padding-left: 18px;
}

.meal-details-container li {
  font-size: 14px;
  margin-bottom: 4px;
}